In [32]:
import pandas as pd

g2 = pd.read_csv('../data/group2.csv')

In [33]:
g2

,Unnamed: 0,iid,pid,wave,gender,match,attr3_1,sinc3_1,intel3_1,fun3_1,amb3_1,pf_o_att,pf_o_sin,pf_o_int,pf_o_fun,pf_o_amb,group
0,2409,174,185.0,8,0,0,9.0,10.0,8.0,8.0,6.0,16.98,15.09,16.98,16.98,18.87,2
1,2410,174,186.0,8,0,0,9.0,10.0,8.0,8.0,6.0,19.44,19.44,22.22,16.67,11.11,2
2,2417,174,193.0,8,0,0,9.0,10.0,8.0,8.0,6.0,20.93,16.28,23.26,16.28,11.63,2
3,2423,175,189.0,8,0,0,7.0,10.0,8.0,8.0,9.0,16.98,16.98,16.98,16.98,16.98,2
4,2429,176,185.0,8,0,0,6.0,9.0,8.0,7.0,6.0,16.98,15.09,16.98,16.98,18.87,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1219,5733,378,350.0,14,1,0,6.0,7.0,9.0,7.0,7.0,12.00,25.00,25.00,8.00,15.00,2
1220,5737,378,354.0,14,1,0,6.0,7.0,9.0,7.0,7.0,20.00,10.00,20.00,20.00,20.00,2
1221,5738,378,355.0,14,1,0,6.0,7.0,9.0,7.0,7.0,50.00,20.00,10.00,5.00,10.00,2
1222,5739,378,356.0,14,1,0,6.0,7.0,9.0,7.0,7.0,15.00,25.00,20.00,20.00,0.00,2
1223,5742,378,359.0,14,1,0,6.0,7.0,9.0,7.0,7.0,9.00,17.00,23.00,15.00,14.00,2

In [34]:
g2.drop(['Unnamed: 0'], axis=1, inplace=True)

In [35]:
# 성별 분류 확인
g2.gender.value_counts()

0    612
1    612
Name: gender, dtype: int64

In [36]:
g2.gender == 0

0        True
1        True
2        True
3        True
4        True
        ...
1219    False
1220    False
1221    False
1222    False
1223    False
Name: gender, Length: 1224, dtype: bool

In [37]:
# iid 와 pid 관계 확인
g2[g2.pid == 185]

,iid,pid,wave,gender,match,attr3_1,sinc3_1,intel3_1,fun3_1,amb3_1,pf_o_att,pf_o_sin,pf_o_int,pf_o_fun,pf_o_amb,group
0,174,185.0,8,0,0,9.0,10.0,8.0,8.0,6.0,16.98,15.09,16.98,16.98,18.87,2
4,176,185.0,8,0,0,6.0,9.0,8.0,7.0,6.0,16.98,15.09,16.98,16.98,18.87,2
13,178,185.0,8,0,0,9.0,9.0,8.0,7.0,7.0,16.98,15.09,16.98,16.98,18.87,2
16,180,185.0,8,0,0,9.0,9.0,9.0,10.0,9.0,16.98,15.09,16.98,16.98,18.87,2

In [38]:
g2[g2.iid == 185]

,iid,pid,wave,gender,match,attr3_1,sinc3_1,intel3_1,fun3_1,amb3_1,pf_o_att,pf_o_sin,pf_o_int,pf_o_fun,pf_o_amb,group
27,185,174.0,8,1,0,10.0,10.0,8.0,7.0,8.0,9.52,23.81,16.67,16.67,16.67,2
28,185,176.0,8,1,0,10.0,10.0,8.0,7.0,8.0,13.04,21.74,19.57,17.39,15.22,2
29,185,178.0,8,1,0,10.0,10.0,8.0,7.0,8.0,15.22,17.39,17.39,17.39,15.22,2
30,185,180.0,8,1,0,10.0,10.0,8.0,7.0,8.0,15.38,17.31,17.31,19.23,13.46,2

In [39]:
# iid의 유니크한 값 확인
len(g2.iid.unique())

190

In [40]:
# pid의 유니크한 값 확인
len(g2.pid.unique())

190

In [41]:
# 누락된 평가 확인
set(g2.iid.unique()) - set(g2.pid.unique())

set()

In [42]:
# g1[g1.iid == 129]

In [43]:
# g1[g1.pid == 129]

In [44]:
# g1 = g1[g1.iid != 129]
g2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1224 entries, 0 to 1223
Data columns (total 16 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   iid       1224 non-null   int64
 1   pid       1224 non-null   float64
 2   wave      1224 non-null   int64
 3   gender    1224 non-null   int64
 4   match     1224 non-null   int64
 5   attr3_1   1224 non-null   float64
 6   sinc3_1   1224 non-null   float64
 7   intel3_1  1224 non-null   float64
 8   fun3_1    1224 non-null   float64
 9   amb3_1    1224 non-null   float64
 10  pf_o_att  1224 non-null   float64
 11  pf_o_sin  1224 non-null   float64
 12  pf_o_int  1224 non-null   float64
 13  pf_o_fun  1224 non-null   float64
 14  pf_o_amb  1224 non-null   float64
 15  group     1224 non-null   int64
dtypes: float64(11), int64(5)
memory usage: 153.1 KB

In [45]:
# iid 기준으로 그룹한 것을 iid_tmp에 저장
iid_tmp = g2.groupby('iid').mean()
iid_tmp

,pid,wave,gender,match,attr3_1,sinc3_1,intel3_1,fun3_1,amb3_1,pf_o_att,pf_o_sin,pf_o_int,pf_o_fun,pf_o_amb,group
iid,,,,,,,,,,,,,,,
174,188.000000,8.0,0.0,0.000000,9.0,10.0,8.0,8.0,6.0,19.116667,16.936667,20.820,16.643333,13.870000,2.0
175,189.000000,8.0,0.0,0.000000,7.0,10.0,8.0,8.0,9.0,16.980000,16.980000,16.980,16.980000,16.980000,2.0
176,188.000000,8.0,0.0,0.333333,6.0,9.0,8.0,7.0,6.0,19.116667,16.936667,20.820,16.643333,13.870000,2.0
177,188.666667,8.0,0.0,0.000000,9.0,9.0,9.0,8.0,9.0,17.465000,17.463333,18.905,17.463333,16.101667,2.0
178,188.000000,8.0,0.0,0.333333,9.0,9.0,8.0,7.0,7.0,19.116667,16.936667,20.820,16.643333,13.870000,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
374,351.333333,14.0,1.0,0.166667,6.0,7.0,7.0,6.0,7.0,16.666667,16.666667,22.500,20.000000,15.000000,2.0
375,351.375000,14.0,1.0,0.125000,8.0,9.0,8.0,9.0,9.0,18.250000,20.250000,19.375,15.125000,13.625000,2.0
376,351.333333,14.0,1.0,0.333333,6.0,10.0,9.0,8.0,10.0,16.666667,16.666667,22.500,20.000000,15.000000,2.0
377,351.333333,14.0,1.0,0.000000,7.0,8.0,7.0,8.0,7.0,16.666667,16.666667,22.500,20.000000,15.000000,2.0
378,351.375000,14.0,1.0,0.000000,6.0,7.0,9.0,7.0,7.0,18.250000,20.250000,19.375,15.125000,13.625000,2.0

In [46]:
# iid 기준 그룹화 df에서 결과를 보고 필요한 칼럼들 추출
# ['gender','match', 'attr3_1', 'sinc3_1', 'intel3_1','fun3_1','amb3_1']
iid_result_cols = ['gender','match', 'attr3_1', 'sinc3_1', 'intel3_1','fun3_1','amb3_1']

In [47]:
# pid(상대방의 아이디)를 기준으로 그룹화
pid_tmp = g2.groupby('pid').mean()
pid_tmp

,iid,wave,gender,match,attr3_1,sinc3_1,intel3_1,fun3_1,amb3_1,pf_o_att,pf_o_sin,pf_o_int,pf_o_fun,pf_o_amb,group
pid,,,,,,,,,,,,,,,
174.0,188.000000,8.0,1.0,0.000000,7.000000,9.000000,8.333333,5.333333,7.000000,9.52,23.81,16.67,16.67,16.67,2.0
175.0,189.000000,8.0,1.0,0.000000,8.000000,8.000000,8.000000,8.000000,9.000000,12.24,20.41,16.33,14.29,20.41,2.0
176.0,188.000000,8.0,1.0,0.333333,7.000000,9.000000,8.333333,5.333333,7.000000,13.04,21.74,19.57,17.39,15.22,2.0
177.0,188.666667,8.0,1.0,0.000000,7.000000,8.000000,8.666667,7.166667,7.833333,15.09,16.98,16.98,16.98,18.87,2.0
178.0,188.000000,8.0,1.0,0.333333,7.000000,9.000000,8.333333,5.333333,7.000000,15.22,17.39,17.39,17.39,15.22,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
374.0,351.333333,14.0,0.0,0.166667,6.833333,8.666667,7.666667,7.833333,7.833333,50.00,10.00,10.00,10.00,5.00,2.0
375.0,351.375000,14.0,0.0,0.125000,6.500000,9.000000,8.750000,6.875000,7.375000,30.00,20.00,15.00,15.00,8.00,2.0
376.0,351.333333,14.0,0.0,0.333333,6.833333,8.666667,7.666667,7.833333,7.833333,30.00,10.00,15.00,20.00,15.00,2.0
377.0,351.333333,14.0,0.0,0.000000,6.833333,8.666667,7.666667,7.833333,7.833333,25.00,20.00,10.00,20.00,15.00,2.0
378.0,351.375000,14.0,0.0,0.000000,6.500000,9.000000,8.750000,6.875000,7.375000,25.00,15.00,20.00,20.00,10.00,2.0

In [48]:
# pid 기준 그룹화 df에서 결과에 필요한 칼럼들
pid_result_cols = 'pf_o_att	pf_o_sin	pf_o_int	pf_o_fun	pf_o_amb'.split('\t')
pid_tmp = pid_tmp[pid_result_cols]

In [49]:
# pid 칼럼 명 변경
result_cols = ['tmp_att', 'tmp_sin', 'tmp_int', 'tmp_fun', 'tmp_amb']
pid_tmp.columns = result_cols 
pid_tmp

       tmp_att  tmp_sin  tmp_int  tmp_fun  tmp_amb
pid
174.0     9.52    23.81    16.67    16.67    16.67
175.0    12.24    20.41    16.33    14.29    20.41
176.0    13.04    21.74    19.57    17.39    15.22
177.0    15.09    16.98    16.98    16.98    18.87
178.0    15.22    17.39    17.39    17.39    15.22
...        ...      ...      ...      ...      ...
374.0    50.00    10.00    10.00    10.00     5.00
375.0    30.00    20.00    15.00    15.00     8.00
376.0    30.00    10.00    15.00    20.00    15.00
377.0    25.00    20.00    10.00    20.00    15.00
378.0    25.00    15.00    20.00    20.00    10.00

[190 rows x 5 columns]

## 전처리한 데이터 프레임 만들기

In [50]:
result = iid_tmp.copy()

In [51]:
result[result_cols] = pid_tmp[result_cols]

In [52]:
result

,pid,wave,gender,match,attr3_1,sinc3_1,intel3_1,fun3_1,amb3_1,pf_o_att,pf_o_sin,pf_o_int,pf_o_fun,pf_o_amb,group,tmp_att,tmp_sin,tmp_int,tmp_fun,tmp_amb
iid,,,,,,,,,,,,,,,,,,,,
174,188.000000,8.0,0.0,0.000000,9.0,10.0,8.0,8.0,6.0,19.116667,16.936667,20.820,16.643333,13.870000,2.0,9.52,23.81,16.67,16.67,16.67
175,189.000000,8.0,0.0,0.000000,7.0,10.0,8.0,8.0,9.0,16.980000,16.980000,16.980,16.980000,16.980000,2.0,12.24,20.41,16.33,14.29,20.41
176,188.000000,8.0,0.0,0.333333,6.0,9.0,8.0,7.0,6.0,19.116667,16.936667,20.820,16.643333,13.870000,2.0,13.04,21.74,19.57,17.39,15.22
177,188.666667,8.0,0.0,0.000000,9.0,9.0,9.0,8.0,9.0,17.465000,17.463333,18.905,17.463333,16.101667,2.0,15.09,16.98,16.98,16.98,18.87
178,188.000000,8.0,0.0,0.333333,9.0,9.0,8.0,7.0,7.0,19.116667,16.936667,20.820,16.643333,13.870000,2.0,15.22,17.39,17.39,17.39,15.22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
374,351.333333,14.0,1.0,0.166667,6.0,7.0,7.0,6.0,7.0,16.666667,16.666667,22.500,20.000000,15.000000,2.0,50.00,10.00,10.00,10.00,5.00
375,351.375000,14.0,1.0,0.125000,8.0,9.0,8.0,9.0,9.0,18.250000,20.250000,19.375,15.125000,13.625000,2.0,30.00,20.00,15.00,15.00,8.00
376,351.333333,14.0,1.0,0.333333,6.0,10.0,9.0,8.0,10.0,16.666667,16.666667,22.500,20.000000,15.000000,2.0,30.00,10.00,15.00,20.00,15.00
377,351.333333,14.0,1.0,0.000000,7.0,8.0,7.0,8.0,7.0,16.666667,16.666667,22.500,20.000000,15.000000,2.0,25.00,20.00,10.00,20.00,15.00
378,351.375000,14.0,1.0,0.000000,6.0,7.0,9.0,7.0,7.0,18.250000,20.250000,19.375,15.125000,13.625000,2.0,25.00,15.00,20.00,20.00,10.00

In [53]:
result
result.iloc[-1]

pid         351.375
wave         14.000
gender        1.000
match         0.000
attr3_1       6.000
sinc3_1       7.000
intel3_1      9.000
fun3_1        7.000
amb3_1        7.000
pf_o_att     18.250
pf_o_sin     20.250
pf_o_int     19.375
pf_o_fun     15.125
pf_o_amb     13.625
group         2.000
tmp_att      25.000
tmp_sin      15.000
tmp_int      20.000
tmp_fun      20.000
tmp_amb      10.000
Name: 378, dtype: float64

In [54]:
result = result['gender	match	attr3_1	sinc3_1	intel3_1	fun3_1	amb3_1	tmp_att	tmp_sin	tmp_int	tmp_fun	tmp_amb'.split()]

In [55]:
result.to_csv('../data/group2_fin.csv')