In [38]:
import pandas as pd

g3 = pd.read_csv('../data/group3.csv')

In [39]:
g3

,Unnamed: 0,iid,pid,wave,gender,match,attr3_1,sinc3_1,intel3_1,fun3_1,amb3_1,pf_o_att,pf_o_sin,pf_o_int,pf_o_fun,pf_o_amb,group
0,5744,379,397.0,15,0,0,6.0,9.0,8.0,6.0,9.0,20.0,21.0,21.0,22.0,6.0,3
1,5745,379,398.0,15,0,0,6.0,9.0,8.0,6.0,9.0,45.0,10.0,10.0,30.0,0.0,3
2,5746,379,399.0,15,0,0,6.0,9.0,8.0,6.0,9.0,25.0,10.0,20.0,20.0,10.0,3
3,5747,379,400.0,15,0,1,6.0,9.0,8.0,6.0,9.0,70.0,5.0,20.0,3.0,1.0,3
4,5748,379,401.0,15,0,0,6.0,9.0,8.0,6.0,9.0,35.0,0.0,25.0,20.0,0.0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1104,8365,552,518.0,21,1,0,8.0,7.0,7.0,6.0,7.0,20.0,25.0,25.0,30.0,5.0,3
1105,8366,552,519.0,21,1,0,8.0,7.0,7.0,6.0,7.0,40.0,5.0,30.0,15.0,5.0,3
1106,8368,552,521.0,21,1,0,8.0,7.0,7.0,6.0,7.0,10.0,30.0,20.0,15.0,15.0,3
1107,8369,552,522.0,21,1,0,8.0,7.0,7.0,6.0,7.0,10.0,20.0,15.0,20.0,15.0,3
1108,8372,552,525.0,21,1,0,8.0,7.0,7.0,6.0,7.0,10.0,15.0,30.0,20.0,15.0,3

In [40]:
g3.drop(['Unnamed: 0'], axis=1, inplace=True)

In [41]:
# 성별 분류 확인
g3.gender.value_counts()

0    562
1    547
Name: gender, dtype: int64

In [42]:
g3.gender == 0

0        True
1        True
2        True
3        True
4        True
        ...
1104    False
1105    False
1106    False
1107    False
1108    False
Name: gender, Length: 1109, dtype: bool

In [43]:
# iid 와 pid 관계 확인
g3[g3.pid == 379]

,iid,pid,wave,gender,match,attr3_1,sinc3_1,intel3_1,fun3_1,amb3_1,pf_o_att,pf_o_sin,pf_o_int,pf_o_fun,pf_o_amb,group
230,397,379.0,15,1,0,7.0,7.0,10.0,7.0,9.0,15.0,15.0,20.0,15.0,15.0,3
245,398,379.0,15,1,0,7.0,6.0,7.0,10.0,8.0,15.0,15.0,20.0,15.0,15.0,3
260,399,379.0,15,1,0,9.0,9.0,9.0,9.0,9.0,15.0,15.0,20.0,15.0,15.0,3
275,400,379.0,15,1,1,7.0,10.0,8.0,6.0,7.0,15.0,15.0,20.0,15.0,15.0,3
290,401,379.0,15,1,0,8.0,5.0,10.0,7.0,5.0,15.0,15.0,20.0,15.0,15.0,3
307,403,379.0,15,1,0,4.0,8.0,9.0,7.0,9.0,15.0,15.0,20.0,15.0,15.0,3
322,404,379.0,15,1,0,6.0,9.0,8.0,7.0,8.0,15.0,15.0,20.0,15.0,15.0,3
340,407,379.0,15,1,0,7.0,9.0,7.0,8.0,8.0,15.0,15.0,20.0,15.0,15.0,3
355,409,379.0,15,1,0,7.0,9.0,9.0,8.0,8.0,15.0,15.0,20.0,15.0,15.0,3
370,410,379.0,15,1,0,7.0,10.0,10.0,6.0,10.0,15.0,15.0,20.0,15.0,15.0,3
385,411,379.0,15,1,0,8.0,6.0,7.0,9.0,5.0,15.0,15.0,20.0,15.0,15.0,3
400,412,379.0,15,1,0,7.0,7.0,8.0,8.0,8.0,15.0,15.0,20.0,15.0,15.0,3
415,413,379.0,15,1,0,7.0,9.0,8.0,7.0,6.0,15.0,15.0,20.0,15.0,15.0,3
430,415,379.0,15,1,0,7.0,8.0,10.0,4.0,8.0,15.0,15.0,20.0,15.0,15.0,3

In [44]:
g3[g3.iid == 379]

,iid,pid,wave,gender,match,attr3_1,sinc3_1,intel3_1,fun3_1,amb3_1,pf_o_att,pf_o_sin,pf_o_int,pf_o_fun,pf_o_amb,group
0,379,397.0,15,0,0,6.0,9.0,8.0,6.0,9.0,20.0,21.0,21.0,22.0,6.0,3
1,379,398.0,15,0,0,6.0,9.0,8.0,6.0,9.0,45.0,10.0,10.0,30.0,0.0,3
2,379,399.0,15,0,0,6.0,9.0,8.0,6.0,9.0,25.0,10.0,20.0,20.0,10.0,3
3,379,400.0,15,0,1,6.0,9.0,8.0,6.0,9.0,70.0,5.0,20.0,3.0,1.0,3
4,379,401.0,15,0,0,6.0,9.0,8.0,6.0,9.0,35.0,0.0,25.0,20.0,0.0,3
5,379,403.0,15,0,0,6.0,9.0,8.0,6.0,9.0,20.0,25.0,20.0,15.0,5.0,3
6,379,404.0,15,0,0,6.0,9.0,8.0,6.0,9.0,25.0,14.0,25.0,25.0,3.0,3
7,379,407.0,15,0,0,6.0,9.0,8.0,6.0,9.0,30.0,15.0,15.0,15.0,15.0,3
8,379,409.0,15,0,0,6.0,9.0,8.0,6.0,9.0,20.0,15.0,20.0,20.0,10.0,3
9,379,410.0,15,0,0,6.0,9.0,8.0,6.0,9.0,20.0,20.0,20.0,20.0,10.0,3
10,379,411.0,15,0,0,6.0,9.0,8.0,6.0,9.0,35.0,15.0,15.0,25.0,10.0,3
11,379,412.0,15,0,0,6.0,9.0,8.0,6.0,9.0,75.0,5.0,5.0,5.0,5.0,3
12,379,413.0,15,0,0,6.0,9.0,8.0,6.0,9.0,10.0,10.0,30.0,30.0,5.0,3
13,379,414.0,15,0,0,6.0,9.0,8.0,6.0,9.0,95.0,1.0,1.0,1.0,1.0,3
14,379,415.0,15,0,0,6.0,9.0,8.0,6.0,9.0,10.0,20.0,40.0,10.0,10.0,3

In [45]:
# iid의 유니크한 값 확인
len(g3.iid.unique())

161

In [46]:
# pid의 유니크한 값 확인
len(g3.pid.unique())

162

In [47]:
# 누락된 평가 확인
set(g3.pid.unique()) - set(g3.iid.unique())

{414.0}

In [48]:
g3[g3.iid == 414]

Empty DataFrame
Columns: [iid, pid, wave, gender, match, attr3_1, sinc3_1, intel3_1, fun3_1, amb3_1, pf_o_att, pf_o_sin, pf_o_int, pf_o_fun, pf_o_amb, group]
Index: []

In [49]:
g3[g3.pid == 414]

,iid,pid,wave,gender,match,attr3_1,sinc3_1,intel3_1,fun3_1,amb3_1,pf_o_att,pf_o_sin,pf_o_int,pf_o_fun,pf_o_amb,group
13,379,414.0,15,0,0,6.0,9.0,8.0,6.0,9.0,95.0,1.0,1.0,1.0,1.0,3
29,381,414.0,15,0,1,7.0,7.0,9.0,10.0,8.0,95.0,1.0,1.0,1.0,1.0,3
44,382,414.0,15,0,1,7.0,7.0,7.0,7.0,10.0,95.0,1.0,1.0,1.0,1.0,3
59,383,414.0,15,0,0,7.0,9.0,6.0,7.0,6.0,95.0,1.0,1.0,1.0,1.0,3
74,384,414.0,15,0,1,8.0,8.0,8.0,9.0,9.0,95.0,1.0,1.0,1.0,1.0,3
89,385,414.0,15,0,1,8.0,8.0,8.0,6.0,6.0,95.0,1.0,1.0,1.0,1.0,3
104,386,414.0,15,0,0,7.0,8.0,9.0,9.0,9.0,95.0,1.0,1.0,1.0,1.0,3
119,387,414.0,15,0,1,8.0,8.0,8.0,8.0,8.0,95.0,1.0,1.0,1.0,1.0,3
134,388,414.0,15,0,0,8.0,8.0,8.0,7.0,8.0,95.0,1.0,1.0,1.0,1.0,3
149,389,414.0,15,0,0,8.0,10.0,7.0,9.0,5.0,95.0,1.0,1.0,1.0,1.0,3
166,391,414.0,15,0,0,8.0,9.0,9.0,9.0,7.0,95.0,1.0,1.0,1.0,1.0,3
181,392,414.0,15,0,0,4.0,7.0,8.0,7.0,7.0,95.0,1.0,1.0,1.0,1.0,3
196,393,414.0,15,0,1,7.0,9.0,8.0,8.0,8.0,95.0,1.0,1.0,1.0,1.0,3
211,394,414.0,15,0,0,9.0,8.0,7.0,7.0,7.0,95.0,1.0,1.0,1.0,1.0,3
226,395,414.0,15,0,0,8.0,8.0,9.0,7.0,7.0,95.0,1.0,1.0,1.0,1.0,3

In [50]:
g3 = g3[g3.iid != 414]
g3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1109 entries, 0 to 1108
Data columns (total 16 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   iid       1109 non-null   int64
 1   pid       1109 non-null   float64
 2   wave      1109 non-null   int64
 3   gender    1109 non-null   int64
 4   match     1109 non-null   int64
 5   attr3_1   1109 non-null   float64
 6   sinc3_1   1109 non-null   float64
 7   intel3_1  1109 non-null   float64
 8   fun3_1    1109 non-null   float64
 9   amb3_1    1109 non-null   float64
 10  pf_o_att  1109 non-null   float64
 11  pf_o_sin  1109 non-null   float64
 12  pf_o_int  1109 non-null   float64
 13  pf_o_fun  1109 non-null   float64
 14  pf_o_amb  1109 non-null   float64
 15  group     1109 non-null   int64
dtypes: float64(11), int64(5)
memory usage: 147.3 KB

In [51]:
# iid 기준으로 그룹한 것을 iid_tmp에 저장
iid_tmp = g3.groupby('iid').mean()
iid_tmp

,pid,wave,gender,match,attr3_1,sinc3_1,intel3_1,fun3_1,amb3_1,pf_o_att,pf_o_sin,pf_o_int,pf_o_fun,pf_o_amb,group
iid,,,,,,,,,,,,,,,
379,406.200000,15.0,0.0,0.066667,6.0,9.0,8.0,6.0,9.0,35.666667,12.400000,19.133333,17.400000,6.066667,3.0
380,405.000000,15.0,0.0,0.000000,4.0,7.0,9.0,9.0,9.0,30.000000,25.000000,20.000000,15.000000,5.000000,3.0
381,406.200000,15.0,0.0,0.133333,7.0,7.0,9.0,10.0,8.0,35.666667,12.400000,19.133333,17.400000,6.066667,3.0
382,406.200000,15.0,0.0,0.133333,7.0,7.0,7.0,7.0,10.0,35.666667,12.400000,19.133333,17.400000,6.066667,3.0
383,406.200000,15.0,0.0,0.266667,7.0,9.0,6.0,7.0,6.0,35.666667,12.400000,19.133333,17.400000,6.066667,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,517.666667,21.0,1.0,0.222222,7.0,9.0,8.0,8.0,8.0,18.888889,19.444444,22.222222,18.888889,8.888889,3.0
548,517.666667,21.0,1.0,0.222222,10.0,10.0,10.0,10.0,10.0,18.888889,19.444444,22.222222,18.888889,8.888889,3.0
549,517.666667,21.0,1.0,0.222222,7.0,10.0,9.0,8.0,9.0,18.888889,19.444444,22.222222,18.888889,8.888889,3.0
550,517.666667,21.0,1.0,0.333333,7.0,7.0,7.0,7.0,7.0,18.888889,19.444444,22.222222,18.888889,8.888889,3.0
552,517.666667,21.0,1.0,0.222222,8.0,7.0,7.0,6.0,7.0,18.888889,19.444444,22.222222,18.888889,8.888889,3.0

In [52]:
# iid 기준 그룹화 df에서 결과를 보고 필요한 칼럼들 추출
# ['gender','match', 'attr3_1', 'sinc3_1', 'intel3_1','fun3_1','amb3_1']
iid_result_cols = ['gender','match', 'attr3_1', 'sinc3_1', 'intel3_1','fun3_1','amb3_1']

In [53]:
# pid(상대방의 아이디)를 기준으로 그룹화
pid_tmp = g3.groupby('pid').mean()
pid_tmp

,iid,wave,gender,match,attr3_1,sinc3_1,intel3_1,fun3_1,amb3_1,pf_o_att,pf_o_sin,pf_o_int,pf_o_fun,pf_o_amb,group
pid,,,,,,,,,,,,,,,
379.0,405.642857,15.0,1.0,0.071429,7.0,8.0,8.571429,7.357143,7.714286,15.0,15.0,20.0,15.0,15.0,3.0
380.0,405.000000,15.0,1.0,0.000000,8.0,8.0,9.000000,10.000000,10.000000,20.0,20.0,20.0,15.0,15.0,3.0
381.0,405.642857,15.0,1.0,0.071429,7.0,8.0,8.571429,7.357143,7.714286,20.0,10.0,20.0,35.0,5.0,3.0
382.0,405.642857,15.0,1.0,0.071429,7.0,8.0,8.571429,7.357143,7.714286,25.0,25.0,25.0,10.0,10.0,3.0
383.0,405.642857,15.0,1.0,0.285714,7.0,8.0,8.571429,7.357143,7.714286,25.0,20.0,10.0,20.0,15.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547.0,517.666667,21.0,0.0,0.222222,7.0,9.0,8.444444,8.000000,7.555556,25.0,20.0,20.0,20.0,0.0,3.0
548.0,517.666667,21.0,0.0,0.222222,7.0,9.0,8.444444,8.000000,7.555556,40.0,10.0,20.0,10.0,0.0,3.0
549.0,517.666667,21.0,0.0,0.222222,7.0,9.0,8.444444,8.000000,7.555556,20.0,20.0,20.0,20.0,0.0,3.0
550.0,517.666667,21.0,0.0,0.333333,7.0,9.0,8.444444,8.000000,7.555556,30.0,3.0,30.0,30.0,3.0,3.0
552.0,517.666667,21.0,0.0,0.222222,7.0,9.0,8.444444,8.000000,7.555556,70.0,0.0,15.0,15.0,0.0,3.0

In [54]:
# pid 기준 그룹화 df에서 결과에 필요한 칼럼들
pid_result_cols = 'pf_o_att	pf_o_sin	pf_o_int	pf_o_fun	pf_o_amb'.split('\t')
pid_tmp = pid_tmp[pid_result_cols]

In [55]:
# pid 칼럼 명 변경
result_cols = ['tmp_att', 'tmp_sin', 'tmp_int', 'tmp_fun', 'tmp_amb']
pid_tmp.columns = result_cols 
pid_tmp

       tmp_att  tmp_sin  tmp_int  tmp_fun  tmp_amb
pid
379.0     15.0     15.0     20.0     15.0     15.0
380.0     20.0     20.0     20.0     15.0     15.0
381.0     20.0     10.0     20.0     35.0      5.0
382.0     25.0     25.0     25.0     10.0     10.0
383.0     25.0     20.0     10.0     20.0     15.0
...        ...      ...      ...      ...      ...
547.0     25.0     20.0     20.0     20.0      0.0
548.0     40.0     10.0     20.0     10.0      0.0
549.0     20.0     20.0     20.0     20.0      0.0
550.0     30.0      3.0     30.0     30.0      3.0
552.0     70.0      0.0     15.0     15.0      0.0

[162 rows x 5 columns]

## 전처리한 데이터 프레임 만들기

In [56]:
result = iid_tmp.copy()

In [57]:
result[result_cols] = pid_tmp[result_cols]

In [58]:
result

,pid,wave,gender,match,attr3_1,sinc3_1,intel3_1,fun3_1,amb3_1,pf_o_att,pf_o_sin,pf_o_int,pf_o_fun,pf_o_amb,group,tmp_att,tmp_sin,tmp_int,tmp_fun,tmp_amb
iid,,,,,,,,,,,,,,,,,,,,
379,406.200000,15.0,0.0,0.066667,6.0,9.0,8.0,6.0,9.0,35.666667,12.400000,19.133333,17.400000,6.066667,3.0,15.0,15.0,20.0,15.0,15.0
380,405.000000,15.0,0.0,0.000000,4.0,7.0,9.0,9.0,9.0,30.000000,25.000000,20.000000,15.000000,5.000000,3.0,20.0,20.0,20.0,15.0,15.0
381,406.200000,15.0,0.0,0.133333,7.0,7.0,9.0,10.0,8.0,35.666667,12.400000,19.133333,17.400000,6.066667,3.0,20.0,10.0,20.0,35.0,5.0
382,406.200000,15.0,0.0,0.133333,7.0,7.0,7.0,7.0,10.0,35.666667,12.400000,19.133333,17.400000,6.066667,3.0,25.0,25.0,25.0,10.0,10.0
383,406.200000,15.0,0.0,0.266667,7.0,9.0,6.0,7.0,6.0,35.666667,12.400000,19.133333,17.400000,6.066667,3.0,25.0,20.0,10.0,20.0,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,517.666667,21.0,1.0,0.222222,7.0,9.0,8.0,8.0,8.0,18.888889,19.444444,22.222222,18.888889,8.888889,3.0,25.0,20.0,20.0,20.0,0.0
548,517.666667,21.0,1.0,0.222222,10.0,10.0,10.0,10.0,10.0,18.888889,19.444444,22.222222,18.888889,8.888889,3.0,40.0,10.0,20.0,10.0,0.0
549,517.666667,21.0,1.0,0.222222,7.0,10.0,9.0,8.0,9.0,18.888889,19.444444,22.222222,18.888889,8.888889,3.0,20.0,20.0,20.0,20.0,0.0
550,517.666667,21.0,1.0,0.333333,7.0,7.0,7.0,7.0,7.0,18.888889,19.444444,22.222222,18.888889,8.888889,3.0,30.0,3.0,30.0,30.0,3.0
552,517.666667,21.0,1.0,0.222222,8.0,7.0,7.0,6.0,7.0,18.888889,19.444444,22.222222,18.888889,8.888889,3.0,70.0,0.0,15.0,15.0,0.0

In [61]:
result = result['gender	match	attr3_1	sinc3_1	intel3_1	fun3_1	amb3_1	tmp_att	tmp_sin	tmp_int	tmp_fun	tmp_amb'.split()]

In [60]:
result.to_csv('../data/group3_fin.csv')