In [5]:
import pandas as pd

g1 = pd.read_csv('../data/group1.csv')

In [6]:
g1.drop(['Unnamed: 0'], axis=1, inplace=True)

In [7]:
# 성별 분류 확인
g1.gender.value_counts()

1    474
0    469
Name: gender, dtype: int64

In [8]:
g1.gender == 0

0       True
1       True
2       True
3       True
4       True
       ...
938    False
939    False
940    False
941    False
942    False
Name: gender, Length: 943, dtype: bool

In [9]:
# iid 와 pid 관계 확인
g1[g1.pid == 22]

,iid,pid,wave,gender,match,attr3_1,sinc3_1,intel3_1,fun3_1,amb3_1,pf_o_att,pf_o_sin,pf_o_int,pf_o_fun,pf_o_amb,group
298,50,22.0,2,1,0,8.0,9.0,10.0,9.0,8.0,20.0,20.0,20.0,10.0,10.0,1
340,55,22.0,2,1,0,6.0,10.0,9.0,10.0,10.0,20.0,20.0,20.0,10.0,10.0,1

In [10]:
g1[g1.iid == 22]

,iid,pid,wave,gender,match,attr3_1,sinc3_1,intel3_1,fun3_1,amb3_1,pf_o_att,pf_o_sin,pf_o_int,pf_o_fun,pf_o_amb,group
106,22,50.0,2,0,0,7.0,8.0,8.0,7.0,7.0,35.0,10.0,20.0,15.0,10.0,1
107,22,55.0,2,0,0,7.0,8.0,8.0,7.0,7.0,20.0,25.0,25.0,10.0,10.0,1

In [11]:
# iid의 유니크한 값 확인
len(g1.iid.unique())

151

In [12]:
# pid의 유니크한 값 확인
len(g1.pid.unique())

150

In [13]:
# 누락된 평가 확인
set(g1.iid.unique()) - set(g1.pid.unique())

{129}

In [14]:
g1[g1.iid == 129]

,iid,pid,wave,gender,match,attr3_1,sinc3_1,intel3_1,fun3_1,amb3_1,pf_o_att,pf_o_sin,pf_o_int,pf_o_fun,pf_o_amb,group
670,129,113.0,5,1,0,8.0,8.0,8.0,8.0,8.0,15.0,15.0,25.0,25.0,15.0,1
671,129,115.0,5,1,0,8.0,8.0,8.0,8.0,8.0,20.0,10.0,30.0,20.0,15.0,1
672,129,116.0,5,1,1,8.0,8.0,8.0,8.0,8.0,15.0,15.0,25.0,25.0,20.0,1
673,129,117.0,5,1,0,8.0,8.0,8.0,8.0,8.0,20.0,10.0,20.0,20.0,20.0,1
674,129,121.0,5,1,0,8.0,8.0,8.0,8.0,8.0,35.0,15.0,5.0,30.0,15.0,1

In [15]:
g1[g1.pid == 129]

Empty DataFrame
Columns: [iid, pid, wave, gender, match, attr3_1, sinc3_1, intel3_1, fun3_1, amb3_1, pf_o_att, pf_o_sin, pf_o_int, pf_o_fun, pf_o_amb, group]
Index: []

In [16]:
g1 = g1[g1.iid != 129]
g1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 938 entries, 0 to 942
Data columns (total 16 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   iid       938 non-null    int64
 1   pid       938 non-null    float64
 2   wave      938 non-null    int64
 3   gender    938 non-null    int64
 4   match     938 non-null    int64
 5   attr3_1   938 non-null    float64
 6   sinc3_1   938 non-null    float64
 7   intel3_1  938 non-null    float64
 8   fun3_1    938 non-null    float64
 9   amb3_1    938 non-null    float64
 10  pf_o_att  938 non-null    float64
 11  pf_o_sin  938 non-null    float64
 12  pf_o_int  938 non-null    float64
 13  pf_o_fun  938 non-null    float64
 14  pf_o_amb  938 non-null    float64
 15  group     938 non-null    int64
dtypes: float64(11), int64(5)
memory usage: 124.6 KB

In [17]:
g1[g1.iid == 1]

,iid,pid,wave,gender,match,attr3_1,sinc3_1,intel3_1,fun3_1,amb3_1,pf_o_att,pf_o_sin,pf_o_int,pf_o_fun,pf_o_amb,group
0,1,13.0,1,0,1,6.0,8.0,8.0,8.0,7.0,19.0,18.0,19.0,18.0,14.0,1

In [18]:
g1[g1.pid == 1]

,iid,pid,wave,gender,match,attr3_1,sinc3_1,intel3_1,fun3_1,amb3_1,pf_o_att,pf_o_sin,pf_o_int,pf_o_fun,pf_o_amb,group
63,13,1.0,1,1,1,4.0,7.0,8.0,8.0,3.0,15.0,20.0,20.0,15.0,15.0,1

In [19]:
# iid 기준으로 그룹한 것을 iid_tmp에 저장
iid_tmp = g1.groupby('iid').mean()
iid_tmp

,pid,wave,gender,match,attr3_1,sinc3_1,intel3_1,fun3_1,amb3_1,pf_o_att,pf_o_sin,pf_o_int,pf_o_fun,pf_o_amb,group
iid,,,,,,,,,,,,,,,
1,13.000,1.0,0.0,1.00,6.0,8.0,8.0,8.0,7.0,19.00000,18.00000,19.00000,18.00000,14.00000,1.0
2,15.875,1.0,0.0,0.25,7.0,5.0,8.0,10.0,3.0,49.16625,6.38875,15.76375,17.63875,2.63875,1.0
3,15.875,1.0,0.0,0.00,8.0,9.0,9.0,8.0,8.0,49.16625,6.38875,15.76375,17.63875,2.63875,1.0
4,15.875,1.0,0.0,0.25,7.0,8.0,7.0,9.0,8.0,49.16625,6.38875,15.76375,17.63875,2.63875,1.0
5,15.875,1.0,0.0,0.25,6.0,3.0,10.0,6.0,8.0,49.16625,6.38875,15.76375,17.63875,2.63875,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,147.900,7.0,1.0,0.20,7.0,9.0,8.0,7.0,7.0,13.36900,17.91700,19.26800,18.19900,16.25200,1.0
170,151.400,7.0,1.0,0.00,7.0,8.0,9.0,6.0,8.0,14.22800,18.16400,18.56400,16.77400,18.15000,1.0
171,147.900,7.0,1.0,0.30,10.0,10.0,10.0,10.0,10.0,13.36900,17.91700,19.26800,18.19900,16.25200,1.0
172,147.900,7.0,1.0,0.30,5.0,6.0,8.0,9.0,9.0,13.36900,17.91700,19.26800,18.19900,16.25200,1.0
173,147.900,7.0,1.0,0.40,7.0,9.0,9.0,9.0,9.0,13.36900,17.91700,19.26800,18.19900,16.25200,1.0

In [20]:
# iid 기준 그룹화 df에서 결과를 보고 필요한 칼럼들 추출
# ['gender','match', 'attr3_1', 'sinc3_1', 'intel3_1','fun3_1','amb3_1']
iid_result_cols = ['gender','match', 'attr3_1', 'sinc3_1', 'intel3_1','fun3_1','amb3_1']

In [21]:
# pid(상대방의 아이디)를 기준으로 그룹화
pid_tmp = g1.groupby('pid').mean()
pid_tmp

,iid,wave,gender,match,attr3_1,sinc3_1,intel3_1,fun3_1,amb3_1,pf_o_att,pf_o_sin,pf_o_int,pf_o_fun,pf_o_amb,group
pid,,,,,,,,,,,,,,,
1.0,13.000,1.0,1.0,1.00,4.00,7.000,8.000,8.000,3.00,15.00,20.00,20.00,15.00,15.00,1.0
2.0,15.875,1.0,1.0,0.25,7.75,7.625,8.875,8.125,7.75,45.00,5.00,25.00,20.00,0.00,1.0
3.0,15.875,1.0,1.0,0.00,7.75,7.625,8.875,8.125,7.75,35.00,10.00,35.00,10.00,10.00,1.0
4.0,15.875,1.0,1.0,0.25,7.75,7.625,8.875,8.125,7.75,20.00,20.00,20.00,20.00,10.00,1.0
5.0,15.875,1.0,1.0,0.25,7.75,7.625,8.875,8.125,7.75,20.00,5.00,25.00,25.00,10.00,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169.0,147.900,7.0,0.0,0.20,7.50,8.600,8.800,8.000,8.00,17.78,20.00,17.78,15.56,15.56,1.0
170.0,151.400,7.0,0.0,0.00,7.40,8.000,8.600,8.000,7.60,16.28,20.93,18.60,18.60,13.95,1.0
171.0,147.900,7.0,0.0,0.30,7.50,8.600,8.800,8.000,8.00,19.57,10.87,19.57,19.57,19.57,1.0
172.0,147.900,7.0,0.0,0.30,7.50,8.600,8.800,8.000,8.00,17.78,17.78,22.22,20.00,15.56,1.0
173.0,147.900,7.0,0.0,0.40,7.50,8.600,8.800,8.000,8.00,18.37,18.37,20.41,20.41,16.33,1.0

In [22]:
# pid 기준 그룹화 df에서 결과에 필요한 칼럼들
pid_result_cols = 'pf_o_att	pf_o_sin	pf_o_int	pf_o_fun	pf_o_amb'.split('\t')
pid_tmp = pid_tmp[pid_result_cols]

In [23]:
# pid 칼럼 명 변경
result_cols = ['tmp_att', 'tmp_sin', 'tmp_int', 'tmp_fun', 'tmp_amb']
pid_tmp.columns = result_cols 
pid_tmp

       tmp_att  tmp_sin  tmp_int  tmp_fun  tmp_amb
pid
1.0      15.00    20.00    20.00    15.00    15.00
2.0      45.00     5.00    25.00    20.00     0.00
3.0      35.00    10.00    35.00    10.00    10.00
4.0      20.00    20.00    20.00    20.00    10.00
5.0      20.00     5.00    25.00    25.00    10.00
...        ...      ...      ...      ...      ...
169.0    17.78    20.00    17.78    15.56    15.56
170.0    16.28    20.93    18.60    18.60    13.95
171.0    19.57    10.87    19.57    19.57    19.57
172.0    17.78    17.78    22.22    20.00    15.56
173.0    18.37    18.37    20.41    20.41    16.33

[150 rows x 5 columns]

## 전처리한 데이터 프레임 만들기

In [24]:
result = iid_tmp.copy()

In [25]:
result[result_cols] = pid_tmp[result_cols]

In [26]:
result

,pid,wave,gender,match,attr3_1,sinc3_1,intel3_1,fun3_1,amb3_1,pf_o_att,pf_o_sin,pf_o_int,pf_o_fun,pf_o_amb,group,tmp_att,tmp_sin,tmp_int,tmp_fun,tmp_amb
iid,,,,,,,,,,,,,,,,,,,,
1,13.000,1.0,0.0,1.00,6.0,8.0,8.0,8.0,7.0,19.00000,18.00000,19.00000,18.00000,14.00000,1.0,15.00,20.00,20.00,15.00,15.00
2,15.875,1.0,0.0,0.25,7.0,5.0,8.0,10.0,3.0,49.16625,6.38875,15.76375,17.63875,2.63875,1.0,45.00,5.00,25.00,20.00,0.00
3,15.875,1.0,0.0,0.00,8.0,9.0,9.0,8.0,8.0,49.16625,6.38875,15.76375,17.63875,2.63875,1.0,35.00,10.00,35.00,10.00,10.00
4,15.875,1.0,0.0,0.25,7.0,8.0,7.0,9.0,8.0,49.16625,6.38875,15.76375,17.63875,2.63875,1.0,20.00,20.00,20.00,20.00,10.00
5,15.875,1.0,0.0,0.25,6.0,3.0,10.0,6.0,8.0,49.16625,6.38875,15.76375,17.63875,2.63875,1.0,20.00,5.00,25.00,25.00,10.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,147.900,7.0,1.0,0.20,7.0,9.0,8.0,7.0,7.0,13.36900,17.91700,19.26800,18.19900,16.25200,1.0,17.78,20.00,17.78,15.56,15.56
170,151.400,7.0,1.0,0.00,7.0,8.0,9.0,6.0,8.0,14.22800,18.16400,18.56400,16.77400,18.15000,1.0,16.28,20.93,18.60,18.60,13.95
171,147.900,7.0,1.0,0.30,10.0,10.0,10.0,10.0,10.0,13.36900,17.91700,19.26800,18.19900,16.25200,1.0,19.57,10.87,19.57,19.57,19.57
172,147.900,7.0,1.0,0.30,5.0,6.0,8.0,9.0,9.0,13.36900,17.91700,19.26800,18.19900,16.25200,1.0,17.78,17.78,22.22,20.00,15.56
173,147.900,7.0,1.0,0.40,7.0,9.0,9.0,9.0,9.0,13.36900,17.91700,19.26800,18.19900,16.25200,1.0,18.37,18.37,20.41,20.41,16.33

In [27]:
result
result.iloc[-1]

pid         147.900
wave          7.000
gender        1.000
match         0.400
attr3_1       7.000
sinc3_1       9.000
intel3_1      9.000
fun3_1        9.000
amb3_1        9.000
pf_o_att     13.369
pf_o_sin     17.917
pf_o_int     19.268
pf_o_fun     18.199
pf_o_amb     16.252
group         1.000
tmp_att      18.370
tmp_sin      18.370
tmp_int      20.410
tmp_fun      20.410
tmp_amb      16.330
Name: 173, dtype: float64

In [28]:
result = result['gender	match	attr3_1	sinc3_1	intel3_1	fun3_1	amb3_1	tmp_att	tmp_sin	tmp_int	tmp_fun	tmp_amb'.split()]

In [29]:
result.to_csv('../data/group1_fin.csv')