In [1]:
# import
from sklearn.datasets import load_diabetes
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.linear_model import ElasticNet

from sklearn.linear_model import RidgeCV
from sklearn.linear_model import LassoCV

from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

In [2]:
# 모듈 점수 측정
def evaluate_score(y_test, y_pred):
    mse = mean_squared_error(y_test, y_pred)
    rmse = np.sqrt(mse)
    r2 = r2_score(y_test, y_pred)
    
    print(f'mse- {mse:.3f}')
    print(f'rmse- {rmse:.3f}')
    print(f'r2- {r2:.3f}')
    
    return

In [3]:
import pandas as pd
import numpy as np
# 데이터 csv 불러오기
train = pd.read_csv('../data/train3.csv')

In [4]:
train

,Unnamed: 0,iid,gender,match,attr3_1,sinc3_1,intel3_1,fun3_1,amb3_1,tmp_att,...,tmp_fun,tmp_amb,tmp_sha,tmp2_attr,tmp2_sinc,tmp2_intel,tmp2_fun,tmp2_amb,tmp2_shar,tmp2_like
0,0,1,0.0,100.000000,6.0,8.0,8.0,8.0,7.0,15.0,...,15.0,15.0,15.0,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
1,1,2,0.0,25.000000,7.0,5.0,8.0,10.0,3.0,45.0,...,20.0,0.0,5.0,7.125000,6.375000,7.375000,6.875000,7.250000,5.875000,7.000000
2,2,3,0.0,0.000000,8.0,9.0,9.0,8.0,8.0,35.0,...,10.0,10.0,0.0,6.125000,6.375000,6.875000,5.750000,6.750000,5.500000,5.500000
3,3,4,0.0,25.000000,7.0,8.0,7.0,9.0,8.0,20.0,...,20.0,10.0,10.0,6.500000,6.625000,7.250000,7.125000,7.375000,6.625000,6.750000
4,4,5,0.0,25.000000,6.0,3.0,10.0,6.0,8.0,20.0,...,25.0,10.0,15.0,4.750000,7.250000,7.125000,6.875000,7.375000,5.875000,5.750000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
469,149,547,1.0,22.222222,7.0,9.0,8.0,8.0,8.0,25.0,...,20.0,0.0,15.0,7.142857,6.857143,7.714286,6.714286,7.285714,6.142857,6.428571
470,150,548,1.0,25.000000,10.0,10.0,10.0,10.0,10.0,40.0,...,10.0,0.0,20.0,7.000000,6.166667,6.666667,6.333333,6.500000,5.333333,6.833333
471,151,549,1.0,22.222222,7.0,10.0,9.0,8.0,9.0,20.0,...,20.0,0.0,20.0,7.333333,7.333333,7.000000,6.166667,6.500000,5.666667,5.666667
472,152,550,1.0,33.333333,7.0,7.0,7.0,7.0,7.0,30.0,...,30.0,3.0,4.0,6.375000,7.750000,7.875000,6.250000,7.125000,5.125000,5.625000
473,153,552,1.0,20.000000,8.0,7.0,7.0,6.0,7.0,70.0,...,15.0,0.0,0.0,8.142857,7.285714,7.000000,6.857143,6.714286,6.142857,6.857143

In [5]:
# Unnamed: 0 column제거
train = train.iloc[:,1:]

In [6]:
train.columns

Index(['iid', 'gender', 'match', 'attr3_1', 'sinc3_1', 'intel3_1', 'fun3_1',
       'amb3_1', 'tmp_att', 'tmp_sin', 'tmp_int', 'tmp_fun', 'tmp_amb',
       'tmp_sha', 'tmp2_attr', 'tmp2_sinc', 'tmp2_intel', 'tmp2_fun',
       'tmp2_amb', 'tmp2_shar', 'tmp2_like'],
      dtype='object')

In [7]:
train.match = round(train.match, 2)

### 변수 전부 사용

In [8]:
X = train.drop('match', axis=1)
y = train['match']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [9]:
train

,iid,gender,match,attr3_1,sinc3_1,intel3_1,fun3_1,amb3_1,tmp_att,tmp_sin,...,tmp_fun,tmp_amb,tmp_sha,tmp2_attr,tmp2_sinc,tmp2_intel,tmp2_fun,tmp2_amb,tmp2_shar,tmp2_like
0,1,0.0,100.00,6.0,8.0,8.0,8.0,7.0,15.0,20.0,...,15.0,15.0,15.0,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
1,2,0.0,25.00,7.0,5.0,8.0,10.0,3.0,45.0,5.0,...,20.0,0.0,5.0,7.125000,6.375000,7.375000,6.875000,7.250000,5.875000,7.000000
2,3,0.0,0.00,8.0,9.0,9.0,8.0,8.0,35.0,10.0,...,10.0,10.0,0.0,6.125000,6.375000,6.875000,5.750000,6.750000,5.500000,5.500000
3,4,0.0,25.00,7.0,8.0,7.0,9.0,8.0,20.0,20.0,...,20.0,10.0,10.0,6.500000,6.625000,7.250000,7.125000,7.375000,6.625000,6.750000
4,5,0.0,25.00,6.0,3.0,10.0,6.0,8.0,20.0,5.0,...,25.0,10.0,15.0,4.750000,7.250000,7.125000,6.875000,7.375000,5.875000,5.750000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
469,547,1.0,22.22,7.0,9.0,8.0,8.0,8.0,25.0,20.0,...,20.0,0.0,15.0,7.142857,6.857143,7.714286,6.714286,7.285714,6.142857,6.428571
470,548,1.0,25.00,10.0,10.0,10.0,10.0,10.0,40.0,10.0,...,10.0,0.0,20.0,7.000000,6.166667,6.666667,6.333333,6.500000,5.333333,6.833333
471,549,1.0,22.22,7.0,10.0,9.0,8.0,9.0,20.0,20.0,...,20.0,0.0,20.0,7.333333,7.333333,7.000000,6.166667,6.500000,5.666667,5.666667
472,550,1.0,33.33,7.0,7.0,7.0,7.0,7.0,30.0,3.0,...,30.0,3.0,4.0,6.375000,7.750000,7.875000,6.250000,7.125000,5.125000,5.625000
473,552,1.0,20.00,8.0,7.0,7.0,6.0,7.0,70.0,0.0,...,15.0,0.0,0.0,8.142857,7.285714,7.000000,6.857143,6.714286,6.142857,6.857143

In [10]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

## GridSearchCV

In [11]:
from sklearn.model_selection import GridSearchCV
model = ElasticNet()
param_grid = {
    'alpha' : [0.01],
    'l1_ratio':[0.9],
}
grid = GridSearchCV(model,param_grid=param_grid, cv=3)

In [12]:
grid.fit(X_train_scaled, y_train)

GridSearchCV(cv=3, estimator=ElasticNet(),
             param_grid={'alpha': [0.01], 'l1_ratio': [0.9]})

In [13]:
y_pred = grid.predict(X_test_scaled)

In [14]:
evaluate_score(y_test, y_pred)

mse- 484.484
rmse- 22.011
r2- 0.149

In [15]:
pred = pd.DataFrame(y_pred)

In [16]:
pred[0]

0      20.041092
1      14.322042
2      14.690506
3      36.802534
4       9.118130
         ...
138    26.940834
139    32.748443
140    18.616609
141     7.335261
142    14.265632
Name: 0, Length: 143, dtype: float64

### tmp columns를 제거한 후 사용

In [17]:
train.drop(['tmp_att', 'tmp_sin', 'tmp_int', 'tmp_fun', 'tmp_amb', 'tmp_sha'], axis=1, inplace=True)

In [18]:
X = train.drop('match', axis=1)
y = train['match']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [19]:
train

,iid,gender,match,attr3_1,sinc3_1,intel3_1,fun3_1,amb3_1,tmp2_attr,tmp2_sinc,tmp2_intel,tmp2_fun,tmp2_amb,tmp2_shar,tmp2_like
0,1,0.0,100.00,6.0,8.0,8.0,8.0,7.0,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
1,2,0.0,25.00,7.0,5.0,8.0,10.0,3.0,7.125000,6.375000,7.375000,6.875000,7.250000,5.875000,7.000000
2,3,0.0,0.00,8.0,9.0,9.0,8.0,8.0,6.125000,6.375000,6.875000,5.750000,6.750000,5.500000,5.500000
3,4,0.0,25.00,7.0,8.0,7.0,9.0,8.0,6.500000,6.625000,7.250000,7.125000,7.375000,6.625000,6.750000
4,5,0.0,25.00,6.0,3.0,10.0,6.0,8.0,4.750000,7.250000,7.125000,6.875000,7.375000,5.875000,5.750000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
469,547,1.0,22.22,7.0,9.0,8.0,8.0,8.0,7.142857,6.857143,7.714286,6.714286,7.285714,6.142857,6.428571
470,548,1.0,25.00,10.0,10.0,10.0,10.0,10.0,7.000000,6.166667,6.666667,6.333333,6.500000,5.333333,6.833333
471,549,1.0,22.22,7.0,10.0,9.0,8.0,9.0,7.333333,7.333333,7.000000,6.166667,6.500000,5.666667,5.666667
472,550,1.0,33.33,7.0,7.0,7.0,7.0,7.0,6.375000,7.750000,7.875000,6.250000,7.125000,5.125000,5.625000
473,552,1.0,20.00,8.0,7.0,7.0,6.0,7.0,8.142857,7.285714,7.000000,6.857143,6.714286,6.142857,6.857143

In [20]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

## GridSearchCV

In [21]:
from sklearn.model_selection import GridSearchCV
model = ElasticNet()
param_grid = {
    'alpha' : [0.01],
    'l1_ratio':[0.9],
}
grid = GridSearchCV(model,param_grid=param_grid, cv=3)

In [22]:
grid.fit(X_train_scaled, y_train)

GridSearchCV(cv=3, estimator=ElasticNet(),
             param_grid={'alpha': [0.01], 'l1_ratio': [0.9]})

In [23]:
y_pred = grid.predict(X_test_scaled)

In [24]:
evaluate_score(y_test, y_pred)

mse- 467.742
rmse- 21.627
r2- 0.178

In [25]:
pred = pd.DataFrame(y_pred)

In [26]:
pred

             0
0    18.360103
1    15.279490
2    13.300439
3    34.833327
4    15.569439
..         ...
138  15.675055
139  34.651756
140  25.177526
141   4.220602
142  11.417342

[143 rows x 1 columns]

### tmp2 columns만 사용

In [28]:
train.drop(['attr3_1', 'sinc3_1', 'intel3_1', 'fun3_1',
       'amb3_1'], axis=1, inplace=True)

In [29]:
X = train.drop('match', axis=1)
y = train['match']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [59]:
train

,iid,gender,match,tmp2_attr,tmp2_sinc,tmp2_intel,tmp2_fun,tmp2_amb,tmp2_shar,tmp2_like
0,1,0.0,100.00,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
1,2,0.0,25.00,7.125000,6.375000,7.375000,6.875000,7.250000,5.875000,7.000000
2,3,0.0,0.00,6.125000,6.375000,6.875000,5.750000,6.750000,5.500000,5.500000
3,4,0.0,25.00,6.500000,6.625000,7.250000,7.125000,7.375000,6.625000,6.750000
4,5,0.0,25.00,4.750000,7.250000,7.125000,6.875000,7.375000,5.875000,5.750000
...,...,...,...,...,...,...,...,...,...,...
469,547,1.0,22.22,7.142857,6.857143,7.714286,6.714286,7.285714,6.142857,6.428571
470,548,1.0,25.00,7.000000,6.166667,6.666667,6.333333,6.500000,5.333333,6.833333
471,549,1.0,22.22,7.333333,7.333333,7.000000,6.166667,6.500000,5.666667,5.666667
472,550,1.0,33.33,6.375000,7.750000,7.875000,6.250000,7.125000,5.125000,5.625000
473,552,1.0,20.00,8.142857,7.285714,7.000000,6.857143,6.714286,6.142857,6.857143

In [31]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

## GridSearchCV

In [32]:
from sklearn.model_selection import GridSearchCV
model = ElasticNet()
param_grid = {
    'alpha' : [0.01],
    'l1_ratio':[0.9],
}
grid = GridSearchCV(model,param_grid=param_grid, cv=3)

In [33]:
grid.fit(X_train_scaled, y_train)

GridSearchCV(cv=3, estimator=ElasticNet(),
             param_grid={'alpha': [0.01], 'l1_ratio': [0.9]})

In [34]:
y_pred = grid.predict(X_test_scaled)

In [35]:
evaluate_score(y_test, y_pred)

mse- 469.967
rmse- 21.679
r2- 0.175

In [36]:
pred = pd.DataFrame(y_pred)

In [38]:
pred

             0
0    16.025670
1    13.608654
2    12.802018
3    33.208481
4    18.106630
..         ...
138  13.684470
139  34.427072
140  24.085305
141   6.701428
142  13.836108

[143 rows x 1 columns]

In [48]:
y_test

428      0.00
440     28.57
9        0.00
468     33.33
39      10.00
        ...
60       0.00
110    100.00
302      0.00
415     33.33
29      50.00
Name: match, Length: 143, dtype: float64