In [1]:
import pandas as pd

tmp = pd.read_csv('../data/SpeedDatingExData.csv', encoding='cp949')

In [2]:
# tmp2에 samerace가 1인 데이터만 추출
tmp2 = tmp[tmp['samerace'] == 1]

In [3]:
tmp2.wave.value_counts().sort_index()

1     102
2     260
3      46
4     240
5      52
6      16
7     252
8      50
9     338
10     46
11    310
12    200
13     44
14    236
15    460
16     44
17    102
18     34
19    122
20     26
21    336
Name: wave, dtype: int64

In [4]:
col = ['iid', 'pid', 'wave', 'gender', 'match',
       'attr3_1','sinc3_1', 'intel3_1', 'fun3_1', 'amb3_1',
       'pf_o_att', 'pf_o_sin', 'pf_o_int', 'pf_o_fun', 'pf_o_amb']

In [5]:
# tmp2에서 사용할 칼럼 추출, null값 제거
tmp3 = tmp2[col].dropna()

In [6]:
# 3개의 그룹으로 나누기
# 1~7 wave =  group 1
# 8~14 wave = group 2
# 15~21 wave =  group 3
tmp3['group'] = tmp3.wave.apply(lambda x: 1 if x <= 7 else (2 if x <= 14 else 3))

In [7]:
tmp3.group.value_counts().sort_index()

1     943
2    1224
3    1109
Name: group, dtype: int64

In [8]:
g1 = tmp3[tmp3.group == 1]

In [9]:
g1.to_csv('../data/group1.csv')

In [10]:
g2 = tmp3[tmp3.group == 2]
g2.to_csv('../data/group2.csv')

g3 = tmp3[tmp3.group == 3]
g3.to_csv('../data/group3.csv')

In [11]:
print(len(g1))
print(len(g2))
print(len(g3))

943
1224
1109

In [12]:
g1

,iid,pid,wave,gender,match,attr3_1,sinc3_1,intel3_1,fun3_1,amb3_1,pf_o_att,pf_o_sin,pf_o_int,pf_o_fun,pf_o_amb,group
2,1,13.0,1,0,1,6.0,8.0,8.0,8.0,7.0,19.00,18.00,19.00,18.00,14.00,1
10,2,11.0,1,0,0,7.0,5.0,8.0,10.0,3.0,35.00,20.00,20.00,20.00,0.00,1
11,2,12.0,1,0,0,7.0,5.0,8.0,10.0,3.0,60.00,0.00,0.00,40.00,0.00,1
13,2,14.0,1,0,1,7.0,5.0,8.0,10.0,3.0,30.00,5.00,15.00,40.00,5.00,1
15,2,16.0,1,0,0,7.0,5.0,8.0,10.0,3.0,50.00,0.00,30.00,10.00,0.00,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2399,173,149.0,7,1,1,7.0,9.0,9.0,9.0,9.0,8.51,19.15,19.15,19.15,19.15,1
2400,173,150.0,7,1,0,7.0,9.0,9.0,9.0,9.0,12.00,20.00,20.00,20.00,14.00,1
2401,173,151.0,7,1,1,7.0,9.0,9.0,9.0,9.0,14.55,16.36,18.18,18.18,16.36,1
2404,173,154.0,7,1,1,7.0,9.0,9.0,9.0,9.0,15.38,17.31,17.31,17.31,17.31,1
2405,173,155.0,7,1,0,7.0,9.0,9.0,9.0,9.0,15.09,18.87,18.87,16.98,16.98,1

In [27]:
g1_female = g1[g1.gender==0]
g1_male = g1[g1.gender==1]

In [70]:
g1_pid_score_mean = g1.groupby('pid').mean()
g1_pid_score_col = g1_pid_score_mean[['pf_o_att', 'pf_o_sin', 'pf_o_int', 'pf_o_fun','pf_o_amb']]

In [91]:
# iid기준 필요한 값 추출
g1_self_tmp = g1.groupby('iid').mean()
g1_self_result = g1_self_tmp[['gender', 'match', 'attr3_1', 'sinc3_1', 'intel3_1', 'fun3_1', 'amb3_1']]
g1_self_result

     gender  match  attr3_1  sinc3_1  intel3_1  fun3_1  amb3_1
iid
1       0.0   1.00      6.0      8.0       8.0     8.0     7.0
2       0.0   0.25      7.0      5.0       8.0    10.0     3.0
3       0.0   0.00      8.0      9.0       9.0     8.0     8.0
4       0.0   0.25      7.0      8.0       7.0     9.0     8.0
5       0.0   0.25      6.0      3.0      10.0     6.0     8.0
..      ...    ...      ...      ...       ...     ...     ...
169     1.0   0.20      7.0      9.0       8.0     7.0     7.0
170     1.0   0.00      7.0      8.0       9.0     6.0     8.0
171     1.0   0.30     10.0     10.0      10.0    10.0    10.0
172     1.0   0.30      5.0      6.0       8.0     9.0     9.0
173     1.0   0.40      7.0      9.0       9.0     9.0     9.0

[151 rows x 7 columns]

In [92]:
g1_self_result

     gender  match  attr3_1  sinc3_1  intel3_1  fun3_1  amb3_1
iid
1       0.0   1.00      6.0      8.0       8.0     8.0     7.0
2       0.0   0.25      7.0      5.0       8.0    10.0     3.0
3       0.0   0.00      8.0      9.0       9.0     8.0     8.0
4       0.0   0.25      7.0      8.0       7.0     9.0     8.0
5       0.0   0.25      6.0      3.0      10.0     6.0     8.0
..      ...    ...      ...      ...       ...     ...     ...
169     1.0   0.20      7.0      9.0       8.0     7.0     7.0
170     1.0   0.00      7.0      8.0       9.0     6.0     8.0
171     1.0   0.30     10.0     10.0      10.0    10.0    10.0
172     1.0   0.30      5.0      6.0       8.0     9.0     9.0
173     1.0   0.40      7.0      9.0       9.0     9.0     9.0

[151 rows x 7 columns]